 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Bespoke Viz</h2>
        <i class="devicon-d3js-plain"></i>
        <i class="devicon-javascript-plain"></i>
      <i class="devicon-jquery-plain"></i>
      <p>The flexibility of d3.js allows for the creation of bespoke Data Visualisation that anyone with a modern browser can access.</p>
    </div>
   <div class="tech">
      <h2>Viz Software</h2>
        <img url = ""></i>
      <p>The flexibility of d3.js allows for the creation of bespoke Data Visualisation.</p>
    </div>
    <div class="tech">
      <h2>Data Wrangling</h2>
      <i class="devicon-python-plain"></i>
      <p>Using libraries like Pandas, Numpy, Regular Expressions and vanila Python methods, to reshape data as needed. </p>
    </div>
</div>
