 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Data Visualisation</h2>
        <i class="devicon-d3js-plain colored"></i>
        <i class="devicon-react-original colored"></i>
        <i class="devicon-jquery-plain colored"></i>
      <p>The flexibility of d3.js allows for the creation of bespoke Data Visualisation that anyone with a modern browser can access. In combination with jQuery and React</p>
    </div>
    <div class="tech">
      <h2>Data Wrangling</h2>
      <i class="devicon-python-plain colored"></i>
      <p>Using libraries like Pandas, Numpy, Regular Expressions and vanila Python methods, to reshape data as needed.</p>
    </div>
</div>
