<div class="user-details">
  <h1> Portfolio Items </h1>
</div>
<div class="contents">
    <a class="project-link" href="index.html">Go Back</a>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/thumb_proj1.JPG" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Item 1 </h3>
    <ul>
      <li>Placeholder</li>
    </ul>
    <p>World's Population by countries at a glance. The Sunburst chart is highly interactive allowing zoom-in & highlights.</p>
    <a class="project-link" href="https://ymlandy.github.io/D3_Sunburst/index.html">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/tableau.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Item 2 </h3>
    <p>A collection of Tableau visualisations and stories. Using Tableau Public with publicly available Data Sources.</p>
    <a class="project-link" href="https://public.tableau.com/profile/yingming.li#!/">Check it out</a>
  </div>
</div>
