<div class="user-details">
  <h1> Featured Projects </h1>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/gapminderIcon.PNG" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Gapminder Clone </h3>
    <ul>
      <li>javascript + d3.js</li>
      <li>interactive</li>
      <li>animated</li>
    </ul>
    <p>The famous Gapminder visualisation as seen in Dr. Hans Rosling's TED-Talks improved & rebuilt in d3.js.</p>
    <a class="project-link" href="https://ymlandy.github.io/d3/Gapminder_Clone/">Check it out</a>
  </div>
  <br>
  <br>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/thumb_proj2.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>Melbourne Traffic Map</h3>
    <ul>
      <li>Mapbox</li>
      <li>Canvas</li>
    </ul>
    <p>Showcases the performance of HTML Canvas. Drawing 20k points.</p>
    <a class="project-link" href="https://ymlandy.github.io/d3/Project_Firefly/">Check it out</a>
  </div>
</div>
<!--
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/thumb_proj1.JPG" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Protfolio Item 3: World Population </h3>
    <ul>
      <li>Characteristic 1</li>
      <li>Characteristic 2</li>
      <li>Characteristic 3</li>
    </ul>
    <p>World's Population by countries at a glance. The Sunburst chart is highly interactive allowing zoom-in & highlights.</p>
    <a class="project-link" href="https://ymlandy.github.io/D3_Sunburst/index.html">Check it out</a>
  </div> -->
</div>
