<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/thumb_proj1.JPG" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Protfolio Item 1: Interactive Sunburst </h3>
    <p>An improvement over the </p>
    <a class="project-link" href="https://ymlandy.github.io/D3_Sunburst/index.html">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/tableau.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Protfolio Item 2: Tableau Portfolio </h3>
    <p>A collection of Tableau visualisations and stories. Using Tableau Public with publicly available Data Sources.</p>
    <a class="project-link" href="https://public.tableau.com/profile/yingming.li#!/">Check it out</a>
  </div>
</div>
