<div class="user-details">
  <h1> Featured Projects </h1>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/thumb_proj1.JPG" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Featured Item 1: Placeholder </h3>
    <ul>
      <li>Characteristic 1</li>
      <li>Characteristic 2</li>
      <li>Characteristic 3</li>
    </ul>
    <p>World's Population by countries at a glance. The Sunburst chart is highly interactive allowing zoom-in & highlights.</p>
    <a class="project-link" href="https://ymlandy.github.io/D3_Sunburst/index.html">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/thumb_proj1.JPG" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Featured Item 2: Placeholder </h3>
    <ul>
      <li>Characteristic 1</li>
      <li>Characteristic 2</li>
      <li>Characteristic 3</li>
    </ul>
    <p>AWorld's Population by countries at a glance. The Sunburst chart is highly interactive allowing zoom-in & highlights.</p>
    <a class="project-link" href="https://public.tableau.com/profile/yingming.li#!/">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/thumb_proj1.JPG" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Protfolio Item 3: World Population </h3>
    <ul>
      <li>Characteristic 1</li>
      <li>Characteristic 2</li>
      <li>Characteristic 3</li>
    </ul>
    <p>World's Population by countries at a glance. The Sunburst chart is highly interactive allowing zoom-in & highlights.</p>
    <a class="project-link" href="https://ymlandy.github.io/D3_Sunburst/index.html">Check it out</a>
  </div>
</div>
